save-exact=true
shared-workspace-lockfile=true
prefer-workspace-packages=true
link-workspace-packages=true
strict-peer-dependencies=true
auto-install-peers=false
cache=.npm-cache
store-dir=.pnpm-store
package-lock=false
